/* line 4, /vagrant/portfolio/app/assets/stylesheets/pages.css.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 9, /vagrant/portfolio/app/assets/stylesheets/pages.css.scss */
body, html {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  height: 100%;
  width: 100%;
}

/* line 16, /vagrant/portfolio/app/assets/stylesheets/pages.css.scss */
.container {
  padding: 0 200px 0 280px;
  width: 100%;
}

/* line 21, /vagrant/portfolio/app/assets/stylesheets/pages.css.scss */
.main {
  width: 100%;
}

/* line 25, /vagrant/portfolio/app/assets/stylesheets/pages.css.scss */
a.btn {
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 0;
  color: #fff;
  font-size: 18px;
  font-weight: 100;
  height: 60px;
  line-height: 60px;
  margin: 40px 0;
  padding: 0;
  transition: background-color .5s;
  width: 200px;
}

/* line 39, /vagrant/portfolio/app/assets/stylesheets/pages.css.scss */
.menu ul {
  list-style: none;
  padding-left: 0;
}

/* line 44, /vagrant/portfolio/app/assets/stylesheets/pages.css.scss */
.menu li {
  display: inline;
  line-height: 100px;
  font-size: 18px;
  font-weight: 500;
  line-height: 100px;
  height: 100px;
  margin: 0 20px 0 0;
}

/* line 54, /vagrant/portfolio/app/assets/stylesheets/pages.css.scss */
.menu li a {
  color: black;
}

/* line 58, /vagrant/portfolio/app/assets/stylesheets/pages.css.scss */
.name h1 {
  color: #000;
  font-size: 18px;
  line-height: 100px;
  height: 100px;
  margin: 0;
  text-align: right;
}

/* line 67, /vagrant/portfolio/app/assets/stylesheets/pages.css.scss */
.footer {
  background-color: #fff;
  height: 200px;
  text-align: right;
  width: 100%;
}

/* line 74, /vagrant/portfolio/app/assets/stylesheets/pages.css.scss */
.footer .social_media {
  margin: 65px 0 20px;
  width: 100%;
}

/* line 79, /vagrant/portfolio/app/assets/stylesheets/pages.css.scss */
.social_media li {
  display: inline-block;
  height: 24px;
  margin: 0 0 0 10px;
  text-align: left;
  text-indent: -9999px;
  width: 24px;
}

/* line 88, /vagrant/portfolio/app/assets/stylesheets/pages.css.scss */
.social_media li a {
  display: block;
  height: 24px;
  width: 24px;
}

/* line 94, /vagrant/portfolio/app/assets/stylesheets/pages.css.scss */
.github {
  background-image: url(github.svg);
  background-position: center center;
}

/* line 99, /vagrant/portfolio/app/assets/stylesheets/pages.css.scss */
.linkedin {
  background-image: url(linkedin.svg);
  background-position: center center;
}

/* line 104, /vagrant/portfolio/app/assets/stylesheets/pages.css.scss */
.tumblr {
  background-image: url(tumblr.svg);
  background-position: center center;
}

/* line 109, /vagrant/portfolio/app/assets/stylesheets/pages.css.scss */
.twitter {
  background-image: url(twitter.svg);
  background-position: center center;
}

/* line 114, /vagrant/portfolio/app/assets/stylesheets/pages.css.scss */
.youtube {
  background-image: url(youtube.svg);
  background-position: center center;
}

/* line 119, /vagrant/portfolio/app/assets/stylesheets/pages.css.scss */
.vimeo {
  background-image: url(vimeo.svg);
  background-position: center center;
}

/* line 124, /vagrant/portfolio/app/assets/stylesheets/pages.css.scss */
.instagram {
  background-image: url(instagram.svg);
  background-position: center center;
}

/* line 129, /vagrant/portfolio/app/assets/stylesheets/pages.css.scss */
.facebook {
  background-image: url(facebook.svg);
  background-position: center center;
}

/* line 134, /vagrant/portfolio/app/assets/stylesheets/pages.css.scss */
.pinterest {
  background-image: url(pinterest.svg);
  background-position: center center;
}

/* line 139, /vagrant/portfolio/app/assets/stylesheets/pages.css.scss */
.gplus {
  background-image: url(gplus.svg);
  background-position: center center;
}

/* line 144, /vagrant/portfolio/app/assets/stylesheets/pages.css.scss */
.main .container {
  margin: 80px 0;
}

/* line 148, /vagrant/portfolio/app/assets/stylesheets/pages.css.scss */
.main h2 {
  color: #000;
  font-size: 48px;
  line-height: 56px;
  text-align: right;
}

/* line 155, /vagrant/portfolio/app/assets/stylesheets/pages.css.scss */
.home h2 {
  color: white;
}

/* line 159, /vagrant/portfolio/app/assets/stylesheets/pages.css.scss */
a.btn:hover, .nav li a:hover, .nav-btn:hover {
  background-color: #cc6cff;
  color: #fff;
  transition: background-color 0.5s;
}

/* line 165, /vagrant/portfolio/app/assets/stylesheets/pages.css.scss */
.home .jumbotron {
  background: url(home.jpg) center center;
  background-size: cover;
  min-height: 600px;
  width: 100%;
}

/* line 172, /vagrant/portfolio/app/assets/stylesheets/pages.css.scss */
.portfolio .jumbotron {
  height: 500px;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

/* line 179, /vagrant/portfolio/app/assets/stylesheets/pages.css.scss */
.portfolio .slideshow-container {
  width: 100%;
}

/* line 183, /vagrant/portfolio/app/assets/stylesheets/pages.css.scss */
.portfolio .slide {
  height: 500px;
  overflow: hidden;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  width: 100%;
}

/* line 192, /vagrant/portfolio/app/assets/stylesheets/pages.css.scss */
.slide img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

/* line 199, /vagrant/portfolio/app/assets/stylesheets/pages.css.scss */
.project, .project:hover {
  color: #000;
  margin: 0 0 40px;
  text-decoration: none;
  transition: color 0.5s;
}

/* line 206, /vagrant/portfolio/app/assets/stylesheets/pages.css.scss */
.project:hover {
  color: #cc6cff;
}

/* line 210, /vagrant/portfolio/app/assets/stylesheets/pages.css.scss */
.project h3, .project p, .about h2, .about p {
  padding: 0 20px 0;
}

/* line 214, /vagrant/portfolio/app/assets/stylesheets/pages.css.scss */
.project p {
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  max-height: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 224, /vagrant/portfolio/app/assets/stylesheets/pages.css.scss */
.thumbnail-header {
  background-color: #eaeff4;
  display: block;
  height: 20px;
  width: 100%;
}

/* line 231, /vagrant/portfolio/app/assets/stylesheets/pages.css.scss */
.thumbnail-header-btn {
  background-color: #fff;
  border-radius: 100%;
  float: left;
  height: 10px;
  margin: 5px 0 0 5px;
  width: 10px;
}

/* line 240, /vagrant/portfolio/app/assets/stylesheets/pages.css.scss */
.thumbnail {
  border: 0;
  border-radius: 0;
  max-height: 240px;
  padding: 0;
  overflow: hidden;
}

/* line 248, /vagrant/portfolio/app/assets/stylesheets/pages.css.scss */
.about .thumbnail {
  max-height: 400px;
}

/* line 252, /vagrant/portfolio/app/assets/stylesheets/pages.css.scss */
.about h2 {
  margin: 0 0 40px;
}

/* line 256, /vagrant/portfolio/app/assets/stylesheets/pages.css.scss */
.contact .row {
  margin: 80px 0 0;
}

/* line 260, /vagrant/portfolio/app/assets/stylesheets/pages.css.scss */
.contact .col-md-2 a {
  display: block;
  height: 80px;
  margin: 0 auto 40px;
  text-indent: -9999px;
  width: 80px;
}

/* line 268, /vagrant/portfolio/app/assets/stylesheets/pages.css.scss */
.highlight {
  background-color: #eaeff4;
  color: #000;
  padding: 0 10px 0;
}

/* line 274, /vagrant/portfolio/app/assets/stylesheets/pages.css.scss */
.right {
  float: right;
}

@media screen and (max-width: 800px) {
  /* line 279, /vagrant/portfolio/app/assets/stylesheets/pages.css.scss */
  .container {
    padding: 0 20px 0 100px;
    width: 100%;
  }

  /* line 284, /vagrant/portfolio/app/assets/stylesheets/pages.css.scss */
  .slide img {
    height: 100%;
    width: auto;
  }

  /* line 289, /vagrant/portfolio/app/assets/stylesheets/pages.css.scss */
  .contact .row:last-child {
    margin: 0;
  }
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

