<div class="main about">
  <div class="container">
    <div class="row">
      <div class="col-md-6 thumbnail">
        <img alt="Me" src="https://octodex.github.com/images/spidertocat.png" />
      </div>
      <div class="col-md-6">
        <h2>Hello. My name is <span class="highlight">Fuzzy</span></h2>
        <p>Since 2013, I've been pursuing my passion, programming and developing my creativity.</p>
      </div>
    </div>
  </div>
</div>
