<div class="main contact">
  <div class="container">
    <h2>Contact me</h2>
    <div class="row">
      <div class="col-md-2">
        <a class="linkedin" href="#">linkedin</a>
      </div>
      <div class="col-md-2">
        <a class="github" href="#">github</a>
      </div>
      <div class="col-md-2">
        <a class="twitter" href="#">twitter</a>
      </div>
    </div>
  </div>
</div>
