<div class="main home"> 
  <div class="jumbotron"> 
    <div class="container"> 
      <h2>Hello. My name is <span class="highlight">Fuzzy</span> and I have creative ideas and build websites</h2> 
      <a class="btn right" href="portfolio">View my Work</a> 
    </div> 
  </div> 
</div> 
