<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
<<<<<<< HEAD
  <link href='https://fonts.googleapis.com/css?family=Roboto+Mono:100,300,500,700' rel='stylesheet' type='text/css'>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
=======
  <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,700' rel='stylesheet' type='text/css'>
>>>>>>> 1c4bcf075db2cdb427b542f6cd4ff3a49bc565bb
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
